@page
@model MyCompany.NewProject.WebUi.Pages.Account.AccessDeniedModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Access Denied - New Project</title>

    <style>
        .error-container {
            font-family: Arial;
        }
    </style>
</head>

<body>
    <div class="error-container">
        <h1>Unauthorized</h1>
        <p>It looks like you don't have access to this app.</p>
    </div>
</body>
</html>
